<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391788417686-g6t770jn0birj4cj3e86dfo2hlk75an0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391788417686-g6t770jn0birj4cj3e86dfo2hlk75an0</string>
	<key>API_KEY</key>
	<string>AIzaSyBF38rTBCqzXClskSK3YpmChBftnT1HBo0</string>
	<key>GCM_SENDER_ID</key>
	<string>391788417686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healthos.oli</string>
	<key>PROJECT_ID</key>
	<string>oli-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>oli-backend.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391788417686:ios:74d0afa5d695bcb2f968b7</string>
</dict>
</plist>